.main-nav-container {
  list-style-type: none;
  padding-left: 30px;
  margin-left: -50px;
  display: inline-block;
  li {
    display: inline;
    padding: 13px;
    margin: 5px;
    font-size:16px;
    font-weight: 600;
    font-family: "Libra Franklin";
    color: #2e2e2e;
    cursor: pointer;
    &:hover {
      border-bottom: 5px #2e2e2e solid;
    }

    a {

      text-decoration: none;
    }

  }
}
