h3 {
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova W15";
  margin-top: 5px;
  margin-bottom: 5px;

}

div {
  text-align: center;
  align-content: center;
}

p {
  font-family: "Proxima Nova W15";
  text-align: center;
  font-size: 1em;
  max-width: 60%;
  margin-left: 20%;
}

button {
  background: #ffc425;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #242424;
  text-decoration: none;
  line-height: normal;
  margin-top: 1.3em;
  letter-spacing: 1px;
  -webkit-align-items: center;
  border-radius: 0;
  padding: 0.5em 1em;
  &:hover {
    background: #242424;
    color: #fff;
  }
  img {
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
    margin-left: 3em;
  }
}
