<ul class="mini-nav">
  <li>888-604-3714</li>
  <li (mouseover)="openMenu('company')" (mouseout)="closeMenu('company')">Company
    <div class="company-list" [hidden]="!companyListOpen">
      <a>About Us</a>
      <a>Press</a>
      <a>Philanthropy</a>
      <a>Careers</a>
      <a>Certified Installer Program</a>
    </div>
  </li>
  <li (mouseover)="openMenu('support')" (mouseout)="closeMenu('support')">Support
    <div class="support-list" [hidden]="!supportListOpen">
      <a>Product Support</a>
      <a>Order Status</a>
    </div>
  </li>
</ul>





