<ul class="mini-nav">
  <li>888-604-3714</li>
  <li (mouseover)="openMenu('company')" (mouseout)="closeMenu('company')">Company
    <div class="company-list" [hidden]="!companyListOpen">
      <a href="https://www.bigassfans.com/company/">About Us</a>
      <a href="https://www.bigassfans.com/press/">Press</a>
      <a href="https://www.bigassfans.com/philanthropy/">Philanthropy</a>
      <a href="https://www.bigassfans.com/big-ass-careers/">Careers</a>
      <a href="https://www.bigassfans.com/certified-installer-program/">Certified Installer Program</a>
    </div>
  </li>
  <li (mouseover)="openMenu('support')" (mouseout)="closeMenu('support')">Support
    <div class="support-list" [hidden]="!supportListOpen">
      <a href="https://www.bigassfans.com/support/"Product Support</a>
      <a href="https://www.bigassfans.com/order-status/">Order Status</a>
    </div>
  </li>
</ul>





