<ul class="mini-nav">
  <li>888-604-3714</li>
  <li>Company</li>
  <li>Support</li>
  <li><img src='assets/glass.png' /></li>
  <li><img src='assets/USpic.png' /></li>
</ul>


<!--<div>-->
  <!--<div>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<select>-->
          <!--<option>About Us</option>-->
          <!--<option>Press</option>-->
          <!--<option>Philanthropy</option>-->
          <!--<option>Careers</option>-->
          <!--<option>Certified Installer Program</option>-->
        <!--</select>-->
      <!--</li>-->
      <!--<li>-->
        <!--<select>-->
          <!--<option>Product Support</option>-->
          <!--<option>Order Status</option>-->
        <!--</select>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img/>-->
        <!--<img/>-->
        <!--<div>-->
          <!--<img/>-->
          <!--<span> US/EN</span>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
