<div>
  <ul>
    <li>CONTACT <span>+</span>
      <p>888-508-7423</p>
      <p>Global Offices</p>
      <p>Schedule a Tour</p>
    </li>
    <li>COMPANY <span>+</span></li>
      <a>About Us</a>
      <a>Press</a>
      <a>Philanthropy</a>
      <a>Careers</a>
      <a>Fan Club</a>
      <a>Gear Store</a>
      <a>Video Store</a>
    <li>RESOURCES <span>+</span></li>
      <a> Big AssLight Savings Calculator</a>
      <a> Cow Production Stress Calculator</a>
      <a> Productivity Calculator</a>
      <a> Heat Destratification</a>
      <a> Summer Cooling</a>
    <li>SUPPORT & SERVICES <span>+</span></li>
      <a> Product Support</a>
      <a> Order Status</a>
      <a> Aftermarket Service</a>
      <a> Returns and Order Cancellation Policy</a>
      <a> Factory Installation</a>
      <a> Certified Installer Program</a>
      <a> Lighting Rebates</a>
      <a> Haiku Affiliate</a>
    <li>ARCHITECTS & ENGINEERS <span>+</span>
      <a>Technical Downloads</a>
      <a>Building Credits</a>
      <a>Continuing Education</a>
    </li>
  </ul>
</div>
