<button>
  Chat is Offline [+]
</button>

<form>
  <p>There are no Big Ass Experts available to chat. Our normal business hours are 7:30 AM - 6 PM EST, Mon-Fri.</p>
  <p>If you would like to be called back during normal business hours please complete the form below.</p>
  <label>FIRST NAME *</label>
  <input>
  <span>LAST NAME *</span>
  <input>
  <span>EMAIL *</span>
  <input>
  <span>PHONE *</span>
  <input>
  <label>COUNTRY
   <option>
     GET COUNTRY LIST
   </option>
  </label>
  <label>
    ZIP / POSTAL CODE *
  </label>
  <input>
  <span>WHAT CAN WE HELP YOU WITH? *</span>
  <select>
    <option>
      Help Options (SET NG-OPTIONS)
    </option>
  </select>
  <label>TELL UP HOW WE CAN HELP</label>
  <textarea></textarea>
  <button>SUBMIT</button>
</form>
